/* Flex iframe */
.flex-iframe {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flex-iframe iframe,   
.flex-iframe object,  
.flex-iframe embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Flex Video */
.flex-video {
  position: relative;
  padding-top: 1.5625em;
  padding-bottom: 67.5%;
  height: 0;
  /*margin-bottom: 1em;*/
  overflow: hidden; }
  .flex-video.widescreen {
    padding-bottom: 57.25%; }
  .flex-video.vimeo {
    padding-top: 0; }
  .flex-video iframe,
  .flex-video object,
  .flex-video embed,
  .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Block Grid */
@media only screen {
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -10px;
    *zoom: 1; }
    [class*="block-grid-"]:before, [class*="block-grid-"]:after {
      content: " ";
      display: table; }
    [class*="block-grid-"]:after {
      clear: both; }
    [class*="block-grid-"] > li {
      display: inline;
      height: auto;
      float: left;
      padding: 0 10px 10px; }
}

  .xxs-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .xxs-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .xxs-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .xxs-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .xxs-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .xxs-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .xxs-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .xxs-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .xxs-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .xxs-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .xxs-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .xxs-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .xxs-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .xxs-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .xxs-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .xxs-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .xxs-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .xxs-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .xxs-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .xxs-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .xxs-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .xxs-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .xxs-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .xxs-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .xxs-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }

@media only screen and (min-width: 532px){
  .xs-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .xs-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .xs-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .xs-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .xs-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .xs-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .xs-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .xs-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .xs-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .xs-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .xs-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .xs-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .xs-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .xs-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .xs-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .xs-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .xs-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .xs-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .xs-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .xs-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .xs-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .xs-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .xs-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .xs-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .xs-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }
}

@media only screen and (min-width: 768px) {
  .xs-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }

  .xs-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }

  .xs-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }

  .xs-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }

  .xs-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }

  .xs-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }

  .xs-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }

  .xs-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }

  .xs-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }

  .xs-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }

  .xs-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }

  .xs-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; }

  .sm-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .sm-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .sm-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .sm-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .sm-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .sm-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .sm-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .sm-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .sm-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .sm-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .sm-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .sm-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .sm-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .sm-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .sm-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .sm-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .sm-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .sm-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .sm-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .sm-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .sm-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .sm-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .sm-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .sm-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .sm-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

@media only screen and (min-width: 922px) {
  .xs-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }

  .xs-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }

  .xs-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }

  .xs-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }

  .xs-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }

  .xs-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }

  .xs-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }

  .xs-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }

  .xs-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }

  .xs-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }

  .xs-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }

  .xs-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; }

  .sm-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }

  .sm-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }

  .sm-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }

  .sm-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }

  .sm-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }

  .sm-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }

  .sm-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }

  .sm-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }

  .sm-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }

  .sm-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }

  .sm-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }

  .sm-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; }

  .md-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .md-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .md-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .md-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .md-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .md-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .md-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .md-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .md-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .md-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .md-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .md-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .md-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .md-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .md-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .md-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .md-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .md-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .md-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .md-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .md-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .md-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .md-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .md-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .md-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

@media only screen and (min-width: 1200px) {
  .xs-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }

  .xs-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }

  .xs-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }

  .xs-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }

  .xs-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }

  .xs-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }

  .xs-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }

  .xs-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }

  .xs-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }

  .xs-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }

  .xs-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }

  .xs-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; }

  .sm-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }

  .sm-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }

  .sm-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }

  .sm-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }

  .sm-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }

  .sm-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }

  .sm-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }

  .sm-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }

  .sm-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }

  .sm-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }

  .sm-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }

  .sm-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; }

  .md-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }

  .md-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }

  .md-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }

  .md-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }

  .md-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }

  .md-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }

  .md-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }

  .md-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }

  .md-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }

  .md-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }

  .md-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }

  .md-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; }

  .lg-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .lg-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .lg-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .lg-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .lg-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .lg-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .lg-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .lg-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .lg-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .lg-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .lg-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .lg-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .lg-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .lg-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .lg-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .lg-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .lg-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .lg-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .lg-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .lg-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .lg-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .lg-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .lg-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .lg-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .lg-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

      
/* Print */
@media print {
    * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    @page {
      margin: 0.5cm;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
}

/* Chrome Frame Prompt */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}