/*





            _                      _   
  _ __ ___ (_)_ __   ___ _ __ __ _| |  
 | '_ ` _ \| | '_ \ / _ \ '__/ _` | |  
 | | | | | | | | | |  __/ | | (_| | |_ 
 |_| |_| |_|_|_| |_|\___|_|  \__,_|_(_)

 site		: http://mineral.co.id
 email		: hello@mineral.co.id
 twitter	: @mineralstudio





   

*/


/*
	@import -- using library from compass
	@include -- using vendors prefix
	@extend -- copy css property from another
	$variable -- store information to reuse troughout stylesheet
*/

@import "compass/css3";
@import "compass/css3/transition";
@import "compass/layout/sticky-footer";

/* DEFAULT COLOR
-------------------------------------------- */


/* MIXIN
-------------------------------------------- */
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}


/* GLOBAL
-------------------------------------------- */
html{
	height: 100%;
	position: relative;
  	min-height: 100%;
}
body{
	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
}


.retina{
	background-image: url(../img/image.png);
	@include image-2x("../img/image@2x.png", 197px, 56px);
}

/* HEADER
-------------------------------------------- */
#header {

     height: 120px;
     background: #f8f8f8;
     
    .top-links {
      background: none repeat scroll 0% 0% #E9E9E9;
      border-bottom: 1px solid #DCDCDC;
      height: 19px;
      padding: 3px 0px 0px 0px;
      color: #1D1D1D;
      font-size: 10px;
      
      ul {
        list-style: outside none none;
        float: right;
      
       li {
        padding-right: 14px;
        display: inline;
        
         a {
          text-decoration: none;
          color: #1D1D1D;
          font-size: 10px;
          text-transform: uppercase;
         }
       }     
     }
    } 
    
    .nav-main {
      background: #fff;
      border: #fff;
      
      .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a {
         background: #fff;
           
            &:hover {
             background: #fff;
        }
      }
   }
   .left-main-nav {
   
     .item-search {
       margin-top: 44px;
     
      p {
        text-transform: uppercase;
        color : #888888;
       }
     }
     .item {
       margin-top: 50px;
       p {
        text-transform: uppercase;
        color : #888888;
       }
     }    
   }
}

/* SCROLLER
-------------------------------------------- */
#scroller-wrapper {
   background: #f8f8f8;
}

/* CATEGORY SORT
-------------------------------------------- */

#cat-heading {
   
    width: 100%;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    
    
    span {
     font-size: 19px;
     color: #1d1d1d;
     text-transform: uppercase;
     
    }
    
}

.content-bg {
    background: #f8f8f8;
    padding-top: 30px;
    
 .category-sort {
    
    width: 320px;
    margin: 20px auto;

    ul {
     
     list-style: none outside none;
     
     li {
       
       display: inline;
       padding-right: 15px;
       
       a {
       
       font-size: 13px;
       color: #353535;
       text-transform: uppercase;
     
      }
    }
  }   
 }
}

/* ARTICLE
-------------------------------------------- */
.article {

    .article-list {
      list-style: none outside none;
      margin: 0px;
      padding: 0px;

     .item {
       background: none repeat scroll 0% 0% #FFF;
       padding: 0px;
       margin: 0px 0px 10px 11px;
       width: 24%;
       float: left;
       
        @media (max-width: 1199px) {
  	      width: 23.5%;
  	    }
  	    
  	    @media (max-width: 991px) {
  	      width: 31.5%;
  	    }
  	    
  	    @media (max-width: 669px) {
  	      width: 45%;
  	      margin: 0px 0px 10px 20px;
  	    }
  	    
  	    @media (max-width: 479px) {
  	      width: 100%;
  	      margin: 0px 0px 10px 0px;
  	    }
  	    
  	  img.thumb {
         width: 100%;
       } 	    
       
       .caption {
         padding: 5px;
    
          span.cat {
           font-size: 14px;
           text-transform: uppercase;
           color: #ffffff;
           background: #e9e9e9;  
           padding: 3px;
           margin: 10px 0 0 0;
          } 
          h2 {
           font-size: 14px;
           text-transform: uppercase;
           color: #535353;
        } 
          p {
           font-size: 13px;
           color: #535353; 
        } 
         .read-more {
           font-size: 10px;
           color: #cb1511; 
           text-transform: uppercase;
         } 
      } 
    }
  }
}

/* VIDEO
-------------------------------------------- */
.video-blog {
     
     margin: 20px 0;

    .video-list {
      list-style: none outside none;
      margin: 0px;
      padding: 0px;

     .video-item {
       
       background: none repeat scroll 0% 0% transparent;
       padding: 0px;
       margin: 0px 0px 10px 11px;
       width: 32.3%;
       float: left;
       position: relative;
       
        @media (max-width: 1199px) {
         width: 32.1%;
  	    }
  	    
  	    @media (max-width: 991px) {
         width: 31.8%;
  	    }
  	    
  	   @media (max-width: 746px) {
         width: 48%;
  	    }
  	      	    
  	    @media (max-width: 669px) {
          width: 47%;
  	      margin: 0px 0px 10px 10px;
  	    }
  	    
  	    @media (max-width: 479px) {
          width: 100%;
  	      margin: 0px 0px 10px 0px;
  	    }
  	    
  	  img.thumb {
         width: 100%;
       } 	 
       
       span {
         position: absolute;
         top: 35%;
         left: 40%;
       }    
       
       .caption {
         padding: 5px;
    
          p {
           font-size: 13px;
           color: #535353; 
        } 

      } 
    }
  }
}

/* VIDEO BLOG DETAIL
-------------------------------------------- */
.video-blog-detail {
    
    position: relative;
    margin: 20px auto;
    
    p {
     text-align: center;
    }
     
     span {
      position: absolute;
      top: 45%;
      left: 50%;
 }
 
}
/* ARTICLE DETAIL
-------------------------------------------- */
.article-detail, .page {

    .left-column {
      
    }
    
    .center-column {
    
     h4 {
      font-size: 9px;    
     }
     
     h2 {
     
      font-size: 19.5px;
      font-weight: 600;
      color: #1d1d1d; 
     
     }
     
     h5 {
     
      font-size: 13px;
      font-style: italic;
     
     }
     
     p {
      font-size: 12px;
     
     }
     .read-more {
     
     }
      
    }
    
    .right-column {
      
    }
}

/* FOOTER
-------------------------------------------- */
#footer {
     
      background: none repeat scroll 0% 0% #E9E9E9;
      border-top: 1px solid #DCDCDC;
      height: 19px;
      padding: 3px 0px 0px 0px;
      color: #1D1D1D;
      font-size: 10px;
      
       .copyright {
         float: left;
         text-decoration: none;
         color: #1D1D1D;
         font-size: 10px;
         text-transform: uppercase;
       }
      
       .site-by {
         float: right;
         text-decoration: none;
         color: #1D1D1D;
         font-size: 10px;
         text-transform: uppercase;
         
         a {
          text-decoration: none;
          color: #1D1D1D;
          font-size: 10px;
          text-transform: uppercase;
         
         }
       }
}
@import "mineral-default";
@import "bootstrap-reset";
@import "fontawesome";
@import "fonts";
@import "plugins";